<div class="container mx-auto p-2 rounded-bottom" style="background-color: #01FDF6; color: #fe0209; width: 500px;">

  <h1>Stupid Coaching</h1>

  <p class="fs-5">Ask your coach anything:</p>

  <form action="/answer" data-turbo="false">
    <input type="text" name="question" class="form-control" placeholder="Question" style="color: #fd07fd;">
    <input type="submit" value="Ask!" class="btn btn-primary mt-1">
  </form>
</div>
